@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-color: hsl(var(--b3));
    color: hsl(var(--bc));
  }

  html {
    @apply antialiased;
  }

  body {
    min-height: 100vh;
  }
}
